.featured-tag {
  max-width: 100%;
  margin: 0 auto;
  background-color: oklch(from var(--surface-90) l c h / 0.2);
}

.just-published {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.hero,
.featured-habits,
.just-published,
.featured-tag,
.site-footer,
.newsletter-section {
    @extend .padding-xxl;
}

[data-theme="dark"] {
  --elevation-1: 0 1px 2px rgba(255, 255, 255, .06);
  --elevation-2: 0 2px 0.375rem rgba(255, 255, 255, .08);
  --elevation-3: 0 0.375rem 1rem rgba(255, 255, 255, .10);
  --elevation-4: 0 0.75rem 1.75rem rgba(255, 255, 255, .12);
}